body{
    margin: 0;
    font-family: cursive;
}

.css-header{
    background-color: #065FD3;
    color: white;
    padding: 4rem;
    background-image: url('image/background.png');
    background-repeat: no-repeat;
    background-size: 37%;
    background-position-x: 100%;
    background-position-y: 49%;

    /* back */
    /* box-sizing: border-box; */
}
.css-header h1{
    margin: 0px;
    padding: 10px;
    font-size: 4rem;

}
.css-header span{
    padding: 10px;
    font-size: 2rem;
}
.css-header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
    vertical-align: middle;
}
img + img{
    margin-left: -1rem;
}