body {
    margin: 0;
    font-family: "Lexend Deca", sans-serif;
    color: white;
}

.header-card {
    min-height: 100vh;
    display: flex;
    margin: 1.5em;
    /* justify-content: center; */
    /* align-items: center; */
}
main{
    display: flex;
    /* margin: 1.5em; */
    border-radius: 15px;
    overflow: hidden;
    max-width: 910px;
    margin: auto;
}
.card{
    padding: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.btn{
    background-color: inherit;
    border-radius: 40px;
    width: 122px;
    height: 45px;
    border: solid black;
    color: white;
    margin: auto;
    margin-bottom: 5px;
}
.card-1 {
    background-color: #E28525;
}

.card-2 {
    background-color: #016972;
}

.card-3 {
    background-color: #00403F;
}
main img {
    width: 64px;
    height: 40px;
}
main h1 {
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
}
main p {
    line-height: 24px;
    opacity: 0.7;
    margin-bottom: 30px;
}
@media(max-width: 800px){
    main{
        flex-direction: column;
    }
    .card{
        width: unset;
    }
}